:root {
    
    --color-primary: #f5f5f7;
    --color-secondary: #1B1E22;
    --color-accent: #C5853A;
    --color-headings: #000000;
    --color-text: #7A7A7A;
    --color-footer-headings:#FFFFFF;
    --color-footer-primary:#000000;
    --color-background: #f5f5f7;
    --color-background-overlay: #000;
}

/* Define a rule using universal selector, grabbing all elements * as well as all elements after + beforeafter of before */
*,
*::after,
*::before {
    box-sizing: border-box;
}

/* Typography */
html {
    /* 62.5% of 16px = 10px */
    font-size: 62.5%;
}

body {
    font-family: 'DM Sans', Arial, Helvetica, sans-serif;
    color: var(--color-text);
    font-size: 2.4rem;
    line-height: 1.5;
}

h1, h2, h3 {
    color: var(--color-headings);
    margin-bottom: 1rem;
    line-height: 1.1;
}

h4 {
    color: var(--color-footer-headings);
}

h1 {
    font-size: 6.5rem;
}

h2 {
    font-size: 4.5rem;
}

h3 {
    font-size: 3.5rem;
}

h4 {
    font-size: 2.5rem;
    color: #C5853A;
    margin-bottom: 0;
}

h5 {
    font-size: 2.0rem;
    color: #000;
    margin-top: 0;
}

p {
    margin-top: 0;
}

@media screen and (min-width: 1024px) {
    body {
        font-size: 1.8rem;
    }

    h1 {
        font-size: 4rem;
        
    }
    h2 {
        font-size: 4rem;
    }
    h3 {
        font-size: 2.4rem;
    }
    h4 {
        font-size: 1.4rem;
    }
}

/* Links */
a {
    text-decoration: none;
}

/* Lists */
.list {
    list-style: none;
    padding-left: 0;
    color: var(--color-headings);

}

.list__item { 
    display: list-item;
    margin-right: 2rem;
}

@media screen and (min-width: 1024) {
    .list__item {
        padding-left: 0;
    }
}

/* Icons */
.icon {
    width: 40px;
    height: 40px;
  }
  
  .icon--small {
    width: 30px;
    height: 30px;
  }
  
  .icon--primary {
    fill: var(--color-primary);
  }
  
  .icon--black {
    fill: #000;
  }
  
  .icon-container {
    background: #f3f9fa;
    width: 64px;
    height: 64px;
    border-radius: 100%;
    display: inline-flex;
    justify-content: center;
    align-items: center;
  }
  
  .icon-container--accent {
    background: var(--color-accent);
  }

/* Buttons */
.btn {
    border: 0;
    cursor: pointer;
    display: inline-block;
    font-size: 1.0rem;
    font-weight: 450;
    line-height: 0;
    margin: 1rem 0;
    padding: 2rem 3rem;
    text-align: center;
    white-space: nowrap;
    text-decoration: none;
}

.btn--accent:hover {
    background: #d69345;
}

.btn--accent {
    background: var(--color-accent);
    color: #fff;
    flex-grow: 1;
}

@media screen and (min-width: 1024px) {
    .btn {
     font-size:1.2rem ;
    }    
}

/* Grids */
.grid {
    display: grid;
    place-content: center;
    width: auto;
}

.contact-grid {
    display: grid;
    place-content: center;
    width: auto;
}

@media screen and (min-width: 768px) {
    .grid--1x2 {
        grid-template-columns: repeat(2, 1fr); /* Take all avilaible space, div by two and give each col 1 space */
        justify-content: left;
        
    }
    .grid--1x3 {
        grid-template-columns: repeat(3, 1fr); /* Take all avilaible space, div by two and give each col 1 space */
        justify-content: left;
        padding-top: 25px;
    }
}

/* Collapsibles */
.collapsible__header {
  display: flex;
  justify-content: space-between;
}

.collapsible__heading {
  margin-top: 0;
  font-size: 3rem;
}

.collapsible__chevron {
  transform: rotate(-90deg);
  transition: transform 0.3s;
}

.collapsible__content {
  max-height: 0;
  overflow: hidden;
  opacity: 0;
  transition: all 0.3s;
}

.collapsible--expanded .collapsible__chevron {
  transform: rotate(0);
}

.collapsible--expanded .collapsible__content {
  max-height: 100vh;
  opacity: 1;
}

/* Blocks */
.block {
    --padding-vertical: 6rem; /* This custom property is availiable to an element w/ a class of block and all its children */
    padding: var(--padding-vertical) 2rem;
    text-align: center;
    padding-bottom: 0;
}

.block__header {
    text-align:center;
    margin-bottom: 4rem;
}

.block__heading {
    margin-top: 0;
    
}

.container {
    max-width: 1140px;
    margin: 0 auto; /* Zero pixels for vertical margin and auto for horizontal margin
    which will equally distribute space on sides of block */
}

/*Navigation Bar */
.nav {
    background: #fff;
    display: flex;
    justify-content: space-between; /* Need to push items to edge of the container */
    flex-wrap: wrap;
    padding: 1rem;
    align-items: center;
}

.nav__list {
    width: 100%;
    margin: 0;
}

.nav__item {
    padding: 0.5rem 2rem;
    border-bottom: 1px solid #222;
}

.nav__item > a { /* Since list items have separate colors use direct child selector to target the anchor
    inside this element. */
    color: #a1a0a8;
    transition: color 0.3s;
}

.nav__item > a:hover { /* Use hover psedo-class selector to change text color when pointer over text */
    color: #000;
}

.nav__toggler {
    opacity: 0.5; /* Start toggler with a lighter color */
    transition: box-shadow .15s;
    cursor: pointer;
}

.nav.collapsible--expanded .nav__toggler { /* Uses a double class selector, selects element that has both
    .nav and .collapsible--expanded */
    opacity: 1;
    box-shadow: 0 0 0 3px #666; /* horizontal, vertical offsets, make shadow softer, spread by 3px */
    border-radius: 5px;
}

.nav__brand {
    transform: translateY(5px); /* moves logo icon 5px down) */
    /*transform: translateX(428px); /* moves logo icon 5px down) */
}

@media screen and (min-width: 768px) {
    .nav__toggler {
        display: none;
    }
    .nav__list {
        width: auto;
        display: flex; /* Makes list horizontal */
        font-size: 1.6rem;
        max-height: 100%; /* These two properties make the navigation list visible at start */
        opacity: 1;
    }

    .nav__item {
        border: 0;
    }
}

/* Hero */
    .hero__tagline { /* The elements below are part of an element called tagline that is part of the hero components.
    if have other paragrahps later with exact same style want to extract this content into a separate reusable class.
    Need to keep content separated from the container (object orientated programming). */
    font-size: 2rem;
    color: #a1a0a8;
    letter-spacing: 1px;
    margin: 2rem 0 1.5rem; /* Top margin of 2rems and bottom of 1.5 */
}

.hero__image {
    width: 100%;
} 

@media screen and (min-width: 768px) {
    .hero {
        padding-top: 0;
    }

    .hero__content {
        text-align: left;
        align-self: center;
    }
}

/* Banners */
.block--grey {
    background-color: var(--color-background);
    color: #000;
    padding: 35px;
    
}

/*products */
.product-container {
    display: grid;
    margin-top: 20px;
    grid-gap: 20px;
    justify-content: center;
}

.product-header {
    color: var(--color-accent);
    text-align: center;
    font-weight: 600;
}

.background {
    background-image: url(../images/Woodwork3.webp);
    background-position: center center;
    background-size: cover;
    background-blend-mode: multiply;
    box-shadow: inset 0 0 0 90vw rgba(0, 0, 0, 0.815)
}

.header-box {
    grid-column: 1 / 4;
    grid-row: 1;
    justify-content: center;
    margin-top: 20px;
}
.product-box1 {
    grid-column: 1;
    grid-row: 2;
    padding: 15px;
    background-color: #f3f3f3;
    border-radius: 7px;
}
.product-box2 {
    grid-column: 2;
    grid-row: 2;
    padding: 15px;
    background-color: #f3f3f3;
    border-radius: 7px;
}
.product-box3 {
    grid-column: 3;
    grid-row: 2;
    padding: 15px;
    background-color: #f3f3f3;
    border-radius: 7px;
}
.product-box4 {
    grid-column: 1;
    grid-row: 3;
    padding: 15px;
    background-color: #f3f3f3;
    border-radius: 7px;
}
.product-box5 {
    grid-column: 2;
    grid-row: 3;
    padding: 15px;
    background-color: #f3f3f3;
    border-radius: 7px;
}
.product-box6 {
    grid-column: 3;
    grid-row: 3;
    padding: 15px;
    background-color: #f3f3f3;
    border-radius: 7px;
}

@media screen and (max-width: 768px) {
    .header-box {
        grid-column: 1 / 2;
        grid-row: 1;
        justify-content: center;
        margin-top: 20px;
    }
    .product-container {
        display: grid;
        margin-top: 20px;
        grid-gap: 20px;
        justify-content: center;
    
    }
    .product-box1 {
        grid-column: 1;
        grid-row: 2;
        margin-bottom: 0;
    }
    .product-box2 {
        grid-column: 1;
        grid-row: 3;
        margin-bottom: 0;
    }
    .product-box3 {
        grid-column: 1;
        grid-row: 4;
        margin-bottom: 0;
    }
    .product-box4 {
        grid-column: 1;
        grid-row: 5;
        margin-bottom: 0;
    }
    .product-box5 {
        grid-column: 1;
        grid-row: 6;
        margin-bottom: 0;
    }
    .product-box6 {
        grid-column: 1;
        grid-row: 7;
        margin-bottom: 0;
    }
  }

  /* Footer */
  .footer {
    background: #000;
  }

    