:root {
    
    --e-global-color-primary: #000000;
    --e-global-color-secondary: #1B1E22;
    --e-global-color-text: #7A7A7A;
    --e-global-color-accent: #C5853A;
    --e-global-color-1dd9aab: #F5F5F7;
    
    --color-primary: #f5f5f7;
    --color-secondary: #1B1E22;
    --color-accent: #C5853A;
    --color-headings: #000000;
    --color-text: #7A7A7A;
    --color-footer-headings:#FFFFFF;
    --color-footer-primary:#000000;
   
}

*,
*::after,
*::before {
    box-sizing: border-box;
}

/* Typography */

html {
    /* 62.5% of 16px = 10px */
    font-size: 62.5%;
}

body {
    font-family: 'DM Sans', Arial, Helvetica, sans-serif;
    color: var(--color-text);
    font-size: 2.4rem;
    line-height: 1.5;
    
}

h1, h2, h3 {
    color: var(--color-headings);
    margin-bottom: 1rem;
}

h4 {
    color: var(--color-footer-headings);
}

h1 {
    font-size: 6.5rem;
}

h2 {
    font-size: 4.5rem;
}

h3 {
    font-size: 3.5rem;

}

h4 {
    font-size: 2.5rem;
}

p {
    margin-top: 0;
}

@media screen and (min-width: 1024px) {
    body {
        font-size: 1.8rem;
    }

    h1 {
        font-size: 8rem;
    }
    h2 {
        font-size: 4rem;
    }
    h3 {
        font-size: 2.4rem;
    }
    h4 {
        font-size: 1.4rem;
    }
}

/* Lists */
.list {
    list-style: none;
    padding-left: 0;
    color: var(--color-headings);

}

.list__item { 
    display: list-item;
    margin-right: 2rem;
}

@media screen and (min-width: 1024) {
    .list__item {
        padding-left: 0;
    }
}

/* Icons */
.icon {
    width: 40px;
    height: 40px;
  }
  
  .icon--small {
    width: 30px;
    height: 30px;
  }
  
  .icon--primary {
    fill: var(--color-primary);
  }
  
  .icon--white {
    fill: #fff;
  }
  
  .icon-container {
    background: #f3f9fa;
    width: 64px;
    height: 64px;
    border-radius: 100%;
    display: inline-flex;
    justify-content: center;
    align-items: center;
  }
  
  .icon-container--accent {
    background: var(--color-accent);
  }

/* Buttons */
.btn {
border: 0;
cursor: pointer;
display: inline-block;
font-size: 1.0rem;
font-weight: 450;
line-height: 0;
margin: 1rem 0;
padding: 2rem 3rem;
text-align: center;
white-space: nowrap;
text-decoration: none;
}

.btn--accent:hover {
    background: #d69345;
    
}

.btn--accent {
    background: var(--color-accent);
    color: #fff;
    flex-grow: 1;
    

}

@media screen and (min-width: 1024px) {
    .btn {
     font-size:1.2rem ;
    }    

}

/* Cards */
.card {
    border-radius: 7px;
    box-shadow: 0 0 20px 10px #f3f3f3; /* 0 Horizontal 0 vertical offfsets, 20px shadow blur, 10px shadow spread */
    overflow: hidden;
}

.card__header,
.card__body {
    padding: 2rem 3rem;
}

.card--primary {
    background: var(--color-primary);
    color: #7A7A7A;
}

.grid {
    display: grid;

}

@media screen and (min-width: 768px) {
    .grid--1x2 {
        grid-template-columns: repeat(2, 1fr); /* Take all avilaible space, div by two and give each col 1 space */
    }
}

@media screen and (min-width: 1024px) {
    .grid--1x4 {
        grid-template-columns: repeat(4, 1fr); /* Take all avilaible space, div by two and give each col 1 space */
    }
}

/* Blocks */
.block {
    --padding-vertical: 6rem; /* This custom property is availiable to an element w/ a class of block and all its children */
    padding: var(--padding-vertical) 2rem;
    text-align: center;
}

.block__header {
    text-align:center;
    margin-bottom: 4rem;
}

.block__heading {
    margin-top: 0;
    
}

.container {
    max-width: 1140px;
    margin: 0 auto; /* Zero pixels for vertical margin and auto for horizontal margin
    which will equally distribute space on sides of block */
}