<section class="block block--grey">
    <div class="container grid grid--1x3">
        <div class="box1">
            <svg class="icon icon--primary">
                <use xlink:href="images/sprite.svg#chisel2"></use>
            </svg>
            <p>Years Experience</p>
        </div>
            <div class="box2">
                <svg class="icon icon--primary">
                    <use xlink:href="images/sprite.svg#chisel2"></use>
                </svg>
                <p>Premium Service</p>
            </div>
                <div>
                    <svg class="icon icon--primary">
                    <use xlink:href="images/sprite.svg#chisel2"></use>
                    </svg>
                    <p> Quality Product</p>
                </div>
         
    </div>
</section>