<section class="block">
    <div class="container grid grid--1x2">
        <header class=" block__header hero__content">
            <h4>Designs by Pugh</h4>
            <h1>Woodwork Made with <br> 
                Quality and Care</h1>
            <p class="hero__tagline">Put descriptive text here</p>
            <a href="" class="btn btn--accent btn--stretched">Get Started</a>
        </header>    
        <img class="hero__image"src="images/Wood_tool3.jpg" alt="Picture of Woodworking tools">
    </div>
</section>