<section class="products background-overlay">
    <div class="product-header product-container">
        <div class="header-box">
            <p>Our Products</p>
         </div>
            <div class="product-box1">
                <p>Bottle Holder</p>
                <img src="images/bottleholder3.jpg" alt="A wooden small bottle holder">
            </div>                        
            <div class="product-box2">
                <p>Welcome Sign</p>
                    <img src="images/welcome3.jpg" alt="Tall wooden outdoor signs">
            </div>       
            <div class="product-box3">
                <p>Police Bar</p>
                    <img src="images/policebar3.jpg" alt="A wooden police rank bar">
            </div>   
            <div class="product-box4">
                <p>Planter Box</p>
                    <img src="images/planterbox_tree3.jpg" alt="An outdoor wooden small tree box">
            </div>
            <div class="product-box5">
                <p>Various Bars</p>
                    <img src="images/bars2.jpg" alt="Various wooden rank bars">
            </div>
            <div class="product-box6">
                <p>Various Bars</p>
                    <img src="images/fireman_bar2.jpg" alt="A wooden police rank bar">
            </div>                  
    </div>

</section>